body {
	background-color: #191919;
	color: #fff;
	font-family: Roboto Mono, monospace;
	font-size: 14px;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 100vh;
}

button {
	color: #fff;
	background: #000;
	border: 0;
	padding: 10px;
	margin: 5px 0;
	cursor: pointer;
	font-weight: bold;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.container h1, .container h2, .container h3 {
	color: rgb(255, 255, 107);
}

.left {
	display: flex;
	align-items: flex-start;
}

.left > div:not(.info) {
	padding-left: 25px;
}

.right a {
	display: block;
	padding: 10px;
	background-color: #000;
}

.marker {
	transform: scale(0);
	animation: 400ms reveal forwards;
}
@keyframes reveal {
	to {
		transform: scale(1);
	}
}

@media screen and (max-width: 767px) {
	.container {
		flex-direction: column;
		align-items: flex-start;
	}
	.left {
		flex-direction: column;
	}
	.left > div:not(.info) {
		padding-left: 0;
	}
}
